*{
    margin:0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #9fb4cf, #93a5bb, #cbbcd0, #9d9aaf, #ccdee0);
    background-size: 100%; 
    background-repeat: no-repeat;  
    min-height: 100vh;  
    overflow-x: hidden;
    width: 100%
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("background-title.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1.5px solid white;
}

ul{
    display: flex;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #1f31a8;
    font-size: 10px;
    margin-right: 8px;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#identitas1{
    font-size: 12px;
    margin: 3px;
}

#identitas2{
    font-size: 12px;
}



/*Teks tengah */
.title {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    color: #1c2e85;
    margin-right: 8px;
    font-size: 110%;
    /*margin-left: -33px;*/
}

/*Warna navbar */
.kata-1 {
    color: #191f3d;
}

.kata-2 {
    color: #1c2e85;
}

.kata-3 {
    color: #1f31a8;
}

/*Setting logo*/
.image {
    margin: 4px 4px;
    width: 4em;
    height: auto;
}

/*progress bar*/
.progress{
    background-color: #cfd0d0;
    width: 70%;
    height: 16px;
    border-radius: 3cap;
    overflow: hidden;
    position: relative;
    top: 5px;
    right: auto;
    left: auto;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background: #1c2e85;
    transition: all 0.6s;
}

.progress-text {
    position: absolute;
    top: 50%;
    right: 5px;
    font-family: Quicksand ,Verdana, Arial;
    transform: translateY(-50%);
    color: white;
}

.progress-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container {
    width: 83%;
    max-width: auto;
    margin: auto;
    overflow: hidden;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    position: relative;
    background-color: transparent;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.3rem;
    font-size: 18px;
}

.question-wrapper {
    display: flex;
    overflow: hidden;
    width: 1000%; /* 100% dikali 10 slide, DIGANTI KALAU SLIDENYA NAMBAH */
    transition: transform 0.5s ease;
}

.question-wrapper .slide:nth-of-type(1) .question-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* 100% dibagi 10 slide, DIGANTI KALAU SLIDENYA NAMBAH */
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 0;
}

.slide {
    display: flex;
    flex-direction: column;
    width: 10%; /* 100% dibagi 10 slide, DIGANTI KALAU SLIDENYA NAMBAH */
    flex-shrink: 0;
    box-sizing: border-box;
}


.question-box {
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3); /* White background with 30% opacity */
    margin-bottom: 1.6rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    border-radius: 20px;
    border:2px solid rgb(249, 239, 255, 0.4);
}

.question-box::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    /*
    border: 5px dashed rgba(255, 255, 255, 0.541); 
    */
}

.question {
    font-family: sans-serif;
    font-size: 0.9rem;
    color: #292929;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.options label:nth-of-type(2) .option {
    width: 23px;
    height: 23px;
    border: 1px solid #192b7f;
}

.label {
    font-size: 0.7rem;
    color: #000000;
    flex-basis: 20%;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-basis: 5%;
    justify-content: center;
    z-index: 1;
}

input[type="radio"] {
    display: none;
}

.option {
    width: 30px;
    height: 30px;
    border: 1px solid #192b7f;
    border-radius: 50%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="radio"]:checked + .option {
    background-color: #192b7f;
    border-color: #192b7f;
}

.option:hover {
    background-color: #192b7f;
    border-color: #192b7f;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.nav-btn {
    background-color: transparent; 
    color: #ffffff; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 2.5rem; 
    transition: transform 0.3s ease; 
}

.nav-btn:hover {
    transform: scale(1.3);
}

@media (min-width: 600px) {
    .question-box {
        width: calc(100% - 2rem);
        margin: auto;
        margin-bottom: 1rem;
    }

    .options .label,
    .options label {
        flex-basis: 20%;
    }

    .options .option {
        width: 30px;
        height: 30px;
    }
}

#submit{
    font-size: 20px;
    background-color: rgb(25, 43, 127, 0.61);
    border-radius: 40px;
    color: #ffffff; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
}

/*HASNAAAA*/

#score{
    width: 100%;
    margin-top: 32px;
    display: none; /*jangan lupa ganti none*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chart-container{
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50vh;
  width: 100%;
  display: none;
  border-radius: 40px;
}


#refresh{
    font-size: 20px;
    background-color: rgb(25, 43, 127, 0.61);
    border-radius: 40px;
    color: #ffffff; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#refresh-container{
    margin: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
}

.style-container{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.3);
    padding:10px;
    border-radius: 30px;
    border:2px solid rgb(249, 239, 255, 0.4);
    margin-bottom: 10px;
}

.style-container  .desc{
    width: 90%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    padding:10px;
    border-radius: 20px;
}

.style{
    margin-left: 12px;
    font-size: 15px;
    font-weight: 600;
}

.desc{
    display: none;
    font-size: 0.8rem;
    text-align: left;
}

.style-judul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.style-judul span{
    margin-right: 8px;
    font-size: 1.5rem;
    padding:4px;
    
}
